body {
   
   /*background-color : chocolate;*/
   background-image:url("background.jpg");

      
}


h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size:40px;
      
}

.header {
    text-align:  center;
    color: yellow;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}


.grid  {
    display : flex;
    flex-wrap:wrap;
    justify-content : space-evenly; 
    text-shadow: 5px 5px 5px green;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.footer {
    display : flex;
    justify-content : flex-end;
}

p,h2{
    text-align:  center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px green;
}

.footer img{
    border-radius: 52%;
    box-sizing:border-box;
    
}




